---
import Navbar from "./Navbar.astro";
import BlogPostMetaData from "./BlogPostMetadata.astro";
import Footer from "./Footer.astro";

const randomImg = "https://source.unsplash.com/random/720x360/?worried,girl";

const {title} = Astro.props;
---

<div class="site-container">
  <Navbar isWhite={true} isBanner={true}/>
</div>
<article class="content-container">
  <div class="img-container">
    <img src={randomImg} alt="An image of a woman" />
  </div>
  <h1>{title}</h1>
  <BlogPostMetaData author="Vesna Radeka" />
  <div class="content-text">
    <slot />
  </div>
</article>
<Footer />
<style>

  article {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .content-container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .img-container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 720px;
      height: 360px;
      border-radius: 25px;
    }
  }

  h1 {
    font-size: 2rem;
    margin-top: 20px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.65;
  }

  .content-text {
    p {

      margin-bottom: 20px;
    }
  }
</style>
